.model {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.model:hover {
  color: red;
}

.image-container {
  width: 222px;
  height: 132px;
  object-fit: contain;
  cursor: pointer;
}

@media only screen and (max-width: 568px) {
  .image-container {
    width: 400px;
  }
}

.model h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.07;
  letter-spacing: -0.65px;
  text-align: center;
  padding-bottom: 8px;
}

.model p {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.28px;
    text-align: center;
    color: #191919;
    }

.button {
  opacity: 0;
  margin: 0 auto;
  color: white;
  background-color: black;
  height: 34px;
  width: 152px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: 0.07px;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}


.image-container:hover + .button {
  opacity: 1;
}
